body {
    margin: auto;
    width: 60%;
}

.treeBase {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.treeLevel {
    margin-top: 20px;
    display: flex;
}

.node {
    background: gray;
    border: 1px solid black;
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}